<h1>{{city ? "Edit" : "Create"}} - City</h1>

<p *ngIf="!city && id"><em>Loading...</em></p>

<div class="city-edit">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>
    <ng-container [ngTemplateOutlet]="errorTemplate2" [ngTemplateOutletContext]="{name: 'name', displayName: 'Name'}"></ng-container>
    <mat-form-field *ngIf="countries">
      <mat-label>Country</mat-label>
      <mat-select id="countryId" formControlName="countryId">
        <mat-option *ngFor="let country of countries" [value]="country.countryId">
          {{country.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container [ngTemplateOutlet]="errorTemplate2" [ngTemplateOutletContext]="{name: 'countryId', displayName: 'Country'}"></ng-container>
    <mat-form-field>
      <mat-label>Latitude</mat-label>
      <input matInput formControlName="latitude" required>
    </mat-form-field>
    <ng-container [ngTemplateOutlet]="errorTemplate2" [ngTemplateOutletContext]="{name: 'latitude', displayName: 'Latitude'}"></ng-container>
    <mat-form-field>
      <mat-label>Longitude</mat-label>
      <input matInput formControlName="longitude" required>
    </mat-form-field>
    <ng-container [ngTemplateOutlet]="errorTemplate2" [ngTemplateOutletContext]="{name: 'longitude', displayName: 'Longitude'}"></ng-container>
    <div>
      <button mat-flat-button color="primary" type="submit" [disabled]="this.form.invalid">
        {{city ? "Save" : "Create"}}
      </button>
      <button mat-flat-button color="secondary" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>

<ng-template #errorTemplate2 let-name="name" let-displayName="displayName">
  <mat-error *ngIf="this.form.controls[name].dirty || this.form.controls[name].touched">
    <span *ngFor="let error of getErrors(this.form.get(name)!, displayName)">
      {{error}}
    </span>
  </mat-error>
</ng-template>

<!-- Form debug info panel -->
<div class="info">
  <div class="info-header">Form Debug Info</div>
  <div class="info-body">
    <div class="info-label">
      Form Value:
    </div>
    <div class="info-value">
      {{ form.value | json }}
    </div>
    <hr />
    <div class="info-label">
      Form Status:
    </div>
    <div class="info-value">
      {{ form.status | json }}
    </div>
  </div>
</div>

<!-- Form activity log panel -->
<div class="info">
  <div class="info-header">Form Activity Log</div>
  <div class="info-body">
    <div class="info-value">
      <span *ngIf="activityLog" [innerHTML]="activityLog"></span>
    </div>
  </div>
</div>

<!--
  It’s worth noting that we didn't use the double curly braces of interpolation, we went
  straight for the [innerHTML] directive instead. The reason for that is very simple.
  The interpolation strips the HTML tags from the source string; hence, we would've lost the
  <br /> tag that we used in the log() function to separate all log lines with a line feed. If
  not for that, we would have used the {{ activityLog }} syntax instead.
-->
